{% load static %}
 <!-- API de Libras-->
        
 <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>

<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
    new window.VLibras.Widget();
</script>

<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://twitter.com/univespoficial" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
        </a>
        <a href="https://www.instagram.com/univespoficial/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Alunos da UNIVESP</p>
</footer>